{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'application.css' %}">
</head>
{% block content %}
<body>
<div class="title-head">
  <h1>Travel Application</h1>
</div>
<div class="form-group">
  <form action="." method="post">
    {% csrf_token %}
    {{ form |crispy }}
    </br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
</body>
</html>
